<h1>My Profile</h1>
<p>Email: <%= @user.email %></p>

<!-- Link to complaints section for filing a new complaint -->
<%= link_to 'File a New Complaint', users_complaints_path %>

<!-- Link to view all payments -->
<%= link_to 'View Payments', users_payments_path %>
