<h1>Forms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.title %></td>
        <td><%= link_to 'Fill Out', users_form_path(form), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
