<h1>Admin Dashboard</h1>

<%= link_to 'Create New Form', new_admin_form_approval_path, class: 'btn btn-primary' %>
<%= link_to 'View Form Responses', admin_form_responses_path, class: 'btn btn-secondary' %>
<%= link_to 'Back to Main Admin Menu', admin_root_path, class: 'btn btn-secondary' %>


