<h1>All Complaints</h1>

<table class="table">
  <thead>
    <tr>
      <th>User Email</th>
      <th>Complaint</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.user.email %></td>
        <td><%= complaint.content %></td>
        <td>
          <%= link_to 'View', admin_complaint_path(complaint), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
